@charset "UTF-8";

.container {
	width:70%;
	background:#ddd;
	margin:0 auto;
	padding:20px;
	box-sizing:border-box;
}

.product {
	display:block;
	width:500px;
	height:160px;
	background:white;
	border-radius:8px;
	margin:0 auto;
	margin-top:20px;
	padding:20px;
	text-decoration:none;
}

.product-image {
	width:150px;
	height:150px;
	margin-right:20px;
	margin-bottom:20px;
}

.search-area {
	margin:0 auto;
	width:30%;
}